n8n/demo-data/workflows/1zxDeZlTZMxVDOhr.json
{"createdAt":"2025-08-02T20:03:04.073Z","updatedAt":"2025-08-02T20:52:40.524Z","id":"1zxDeZlTZMxVDOhr","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"84303abc-a0ec-4d98-a56d-aa34df65d844","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://datasets-server.huggingface.co/first-rows?dataset=qxcv%2Ftensor-trust&config=default&split=train","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"32177eb4-c6eb-4437-8cdf-0ad1d38fa2bf","name":"HTTP Request"},{"parameters":{"jsCode":"const inputItems = $input.all();\n\nconsole.log('Number of input items:', inputItems.length);\nconsole.log('First item structure:');\n\nconst firstItem = inputItems[0].json;\nconsole.log('Keys in first item:', Object.keys(firstItem));\n\n// Log the first few properties to understand the structure\nObject.keys(firstItem).slice(0, 10).forEach(key => {\n  console.log(`Key \"${key}\":`, typeof firstItem[key], Array.isArray(firstItem[key]) ? `Array[${firstItem[key].length}]` : '');\n});\n\nreturn [{ \n  json: { \n    debug: true,\n    inputItemsCount: inputItems.length,\n    firstItemKeys: Object.keys(firstItem),\n    sampleData: firstItem\n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-16],"id":"3470575e-8830-4663-8e10-efea66a44b92","name":"Code"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b357a257-6de0-4a59-b689-8c3622e96489","triggerCount":0,"tags":[]}